.head{
    margin: 0;
    height: 100px;
    background-color: aquamarine;
    background-repeat: no-repeat;
    border: 10px solid red;
}
.name{
    margin-left: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar{
    margin: 0;
    padding: 0;
    float: right;
    
}
li{
    display: inline;
    
}
.first{
    background-color: bisque;
    text-align: justify;
}
.foot{
    background-color: bisque;
    height: 100px;
}